<?xml version="1.0"?>
<model>
  <name>Iris Quadcopter with Depth Camera</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>aabougen</name>
    <email>aabugendia@gmail.com</email>
  </author>
  <description>
    Iris quadcopter with integrated RGB-D camera for autonomous navigation.
    Based on ArduPilot Iris model with added depth camera sensor.
  </description>
</model>
